/* ----------------------------------------------------------------------------- */
/* CONTEÚDO */

body{
    font-family: 'Montserrat', sans-serif; 
}

ul#mais-procurados li {
    margin: 10px 0px;
}
ul#mais-procurados li a{
    font-size: 1.2em;
    color: #555;
}
.contato{
    height: 300px;
    background-color: #f9f9f9;
}
/* ----------------------------------------------------------------------------- */
/* MEDIA QUERY */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .contato{
        height: 350px;
    }
}