#lista-busca {
    width: 96%;
    background-color: #fafafa;
    margin: 15px 0px;
    padding: 15px;
    position: absolute;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9em;
    z-index: 99999999;
}
#lista-busca li{
    margin: 10px 0px;
}